# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

merlin/
merlin-agent/
Ghostpack-CompiledBinaries/
Seatbelt.exe

clients/

# Test binary, built with `go test -c`
*.test

www/

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/

bin/
certs/
generated/
ca/
Seatbelt.exe
calc_x64.bin
mimikatz.exe
whoami.x64.o
*.log
*.db
c2_server.db